@import "tailwindcss";

:root {
  @import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 100vh;
  width: 100%;
}

@theme {
  /* Colors */
  --color-dark-blue: #2b3743;
  --color-very-dark-blue-bg: #202d36;
  --color-very-dark-blue-text: #121414;
  --color-dark-gray-input: #858585;
  --color-very-light-gray-bg: #fafafa;
  /* Fonts */
  --font-serif: "Nunito Sans", serif;
}

.bg-light {
  background-color: var(--color-very-light-gray-bg);
  color: var(--color-very-dark-blue-text);
}
.bg-dark {
  background-color: var(--color-very-dark-blue-bg);
  color: var(--color-very-light-gray-bg);
}

.custom-container {
  @apply container mx-auto my-0 p-4;
}

