@import "tailwindcss";

:root {
  @import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

  font-family: "Nunito Sans", serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // Colors
  --dark-blue: #121a25;
  --very-dark-blue-bg: #10181e;
  --very-dark-blue-text: #121414;
  --dark-gray-input: #858585;
  --very-light-gray-bg: #fafafa;
  --white: #ffffff;
}

